@font-face {
    font-family: 'starcraft';
    src: url('./font/Starcraft.ttf');
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow:hidden;
    font-family: 'starcraft';
    font-size: 1.2em;
    letter-spacing: 0.1em;
    color: purple;
}

*:focus {
    outline: none;
}

#container {
    position: relative;
}

#gameInfo {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20%;
}

#gameCanvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    min-width: 50%;
    height: 100%;
    display: block;
}

#rightContainer {
    position: absolute;
    top: 0%;
    left: 80%;
    width: 20%;
    height: 100%;
}

#defenderInfo {
    position: absolute;
    left: 0%;
    top: 5%;
    width: 90%;
    font-family: 'Open Sans', sans-serif;
    font-style: sans-serif;
    font-size: 1em;
    color: gray;
    letter-spacing: 0.04em;
    line-height: 1.1em;
}

#portraits {
    position: absolute;
    top: 50%;
    left: 0;
    width: 70%;
}

.cost {
    font-size: 1em;
    letter-spacing: 0em;
}

.hotkey {
    font-size: 1.4em;
}

#scv {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 33%;
}

#scvCost {
    position: absolute;
    top: -4%;
    left: 1%;
}

#scvHotkey {
    position: absolute;
    top: 21%;
    left: 38%;
}

#marine {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 33%;
}

#marineCost {
    position: absolute;
    top: -4%;
    left: 51%;
}

#marineHotkey {
    position: absolute;
    top: 21%;
    left: 85%;
}

#firebat {
    position: absolute;
    top: 33%;
    left: 0;
    width: 50%;
    height: 33%;
}

#firebatCost {
    position: absolute;
    top: 29%;
    left: 1%;
}

#firebatHotkey {
    position: absolute;
    top: 54%;
    left: 38%;
}

#ghost {
    position: absolute;
    top: 33%;
    left: 50%;
    width: 50%;
    height: 33%;
}

#ghostCost {
    position: absolute;
    top: 29%;
    left: 51%;
}

#ghostHotkey {
    position: absolute;
    top: 54%;
    left: 88%;
}

#turret {
    position: absolute;
    top: 66%;
    left: 0%;
    width: 50%;
    height: 33%;
}

#turretCost {
    position: absolute;
    top: 62%;
    left: 1%;
}

#turretHotkey {
    position: absolute;
    top: 86%;
    left: 38%;
}

#battlecruiser {
    position: absolute;
    top: 66%;
    left: 50%;
    width: 50%;
    height: 33%;
}

#battlecruiserCost {
    position: absolute;
    top: 62%;
    left: 51%;
}

#battlecruiserHotkey {
    position: absolute;
    top: 86%;
    left: 88%;
}