.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'starcraft';
    src: url('./font/Starcraft.ttf');
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

*:focus {
    outline: none;
}

#container {
    position: relative;
}

#gameInfo {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20%;
    overflow:hidden;
    font-family: 'starcraft';
    font-size: 1.2em;
    letter-spacing: 0.1em;
    color: purple;
}

#gameCanvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    min-width: 50%;
    height: 100%;
    display: block;
}

#portraits {
    position: absolute;
    top: 50%;
    left: 80%;
    width: 15%;
}

#scv {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 33%;
}

#marine {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 33%;
}

#ghost {
    position: absolute;
    top: 33%;
    left: 0;
    width: 50%;
    height: 33%;
}

#firebat {
    position: absolute;
    top: 33%;
    left: 50%;
    width: 50%;
    height: 33%;
}

#turret {
    position: absolute;
    top: 66%;
    left: 0%;
    width: 50%;
    height: 33%;
}

#battlecruiser {
    position: absolute;
    top: 66%;
    left: 50%;
    width: 50%;
    height: 33%;
}